
<div class='col-sm-6 col-sm-offset-3'>


          <p>{{ comment.content }}</p>
          <footer>  {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} {% endif %}</footer>
          <hr/>
          <div>
              {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer> {{ child_comment.timestamp|timesince }} ago | </footer>
                </blockquote>
             {% endfor %}
            <form method="POST" action="."> {% csrf_token %}
                {{ form.as_p }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <input type='submit' value='Reply' class='btn btn-default'>
            </form>
        </div>



        <hr/>
</div>
